.body1 {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 80vh; /* Make the container take at least the full height of the viewport */
    margin: 0; /* Remove default margin */
    padding: 30px; /* Remove default padding */
    background-color:#DDDDDD; /* Background color of the entire screen */
}

.body1 > div {
    text-align: center; /* Center text within the inner div */
    padding: 60px; /* Padding around the content for spacing */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for depth */
    border-radius: 10px; /* Optional: Rounded corners for the inner div */
    background-color:whitesmoke; /* Background color for the content area */
    max-width: 500px; /* Optional: Limit the width of the content area */
    z-index: 1;
}

h2 {
    margin-bottom: 20px; /* Space below the heading */
}

label {
    margin-bottom: 10px; /* Space below the label */
    display: block; /* Make the label take its own line */
}

input[type="number"] {
    width: 100%; /* Full width of the container */
    padding: 10px; /* Padding inside the input field */
    margin-bottom: 20px; /* Space below the input field */
    border-radius: 5px; /* Rounded corners for the input field */
    border: 1px solid #ccc; /* Border for the input field */
    margin-right: 10px;
}

button {
    width: 100%; /* Full width of the button */
    padding: 10px; /* Padding inside the button */
    background-color: #4CAF50; /* Background color for the button */
    color: white; /* Text color for the button */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners for the button */
    cursor: pointer; /* Cursor pointer on hover */
}

button:hover {
    background-color: #45a049; /* Darker green on hover for the button */
}